/*
 * Retail api
 * No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)
 *
 * OpenAPI spec version: 1.0
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.InlineResponse101;
import io.swagger.client.model.InlineResponse200;
import io.swagger.client.model.RetailCheckpartnerlimitBody;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class CheckPartnerLimitApi {
    private ApiClient apiClient;

    public CheckPartnerLimitApi() {
        this(Configuration.getDefaultApiClient());
    }

    public CheckPartnerLimitApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for apiRetailCheckPartnerLimitPost
     * @param body  (required)
     * @param contentType  (optional)
     * @param signature BAOKIM will sign the Data with sha1WithRSA algorithm and use base64 encryption (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call apiRetailCheckPartnerLimitPostCall(RetailCheckpartnerlimitBody body, String contentType, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/api/retail/check-partner-limit";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (contentType != null)
        localVarHeaderParams.put("Content-Type", apiClient.parameterToString(contentType));
        if (signature != null)
        localVarHeaderParams.put("Signature", apiClient.parameterToString(signature));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call apiRetailCheckPartnerLimitPostValidateBeforeCall(RetailCheckpartnerlimitBody body, String contentType, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'body' is set
        if (body == null) {
            throw new ApiException("Missing the required parameter 'body' when calling apiRetailCheckPartnerLimitPost(Async)");
        }
        
        com.squareup.okhttp.Call call = apiRetailCheckPartnerLimitPostCall(body, contentType, signature, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * CHECK PARTNER LIMIT
     * 
     * @param body  (required)
     * @param contentType  (optional)
     * @param signature BAOKIM will sign the Data with sha1WithRSA algorithm and use base64 encryption (optional)
     * @return InlineResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200 apiRetailCheckPartnerLimitPost(RetailCheckpartnerlimitBody body, String contentType, String signature) throws ApiException {
        ApiResponse<InlineResponse200> resp = apiRetailCheckPartnerLimitPostWithHttpInfo(body, contentType, signature);
        return resp.getData();
    }

    /**
     * CHECK PARTNER LIMIT
     * 
     * @param body  (required)
     * @param contentType  (optional)
     * @param signature BAOKIM will sign the Data with sha1WithRSA algorithm and use base64 encryption (optional)
     * @return ApiResponse&lt;InlineResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200> apiRetailCheckPartnerLimitPostWithHttpInfo(RetailCheckpartnerlimitBody body, String contentType, String signature) throws ApiException {
        com.squareup.okhttp.Call call = apiRetailCheckPartnerLimitPostValidateBeforeCall(body, contentType, signature, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * CHECK PARTNER LIMIT (asynchronously)
     * 
     * @param body  (required)
     * @param contentType  (optional)
     * @param signature BAOKIM will sign the Data with sha1WithRSA algorithm and use base64 encryption (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call apiRetailCheckPartnerLimitPostAsync(RetailCheckpartnerlimitBody body, String contentType, String signature, final ApiCallback<InlineResponse200> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = apiRetailCheckPartnerLimitPostValidateBeforeCall(body, contentType, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
